.App {
  text-align: center;
}



.stream {
  display: none;
}

.streamTitle {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.streamDiv {
  background-color: lightsteelblue;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border: 3px solid white;
  width: calc(100% - 30px);
}

.roomDiv {
  display: inline-block;
  background-color: aliceblue;
  width: 46vw;
  margin: 5px;
  padding: 1vw;
}